.navbar {
    display: flex;
    padding: 10px 20px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #5b4c3b;
}
.navbar-brand {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.navbar-brand img {
    height: 40px; 
}
.navbar-brand span {
    font-weight: bold;
    color: white;
    font-style: italic;
    font-size: 1.5rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    background-color: #5b4c3b;
}

.bg-custom {
    background-color: #5b4c3b;
}

#map {
    width: 100%;
    height: 100vh; 
    margin: 0; 
    padding: 0;
}


#canvasDisplay {
    position: absolute;
    top: 10%;
    display: none;
    background-color: #5b4c3b;
    padding: 20px;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.canvasContainer {
    display: flex;
    height: 100%;
    gap: 20px;
}

.canvasLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasLeft canvas {
    width: 100%;
    height: 100%;
    border: 2px solid #5b4c3b;
}

.canvasRight {
    flex: 1;
    padding: 20px;
    display: flex;
    color: #f9f8f8;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.descriptionImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px; 
    text-align: center;
}
.canvasRight p {
    font-size: 1.1rem;
    margin-bottom: 8px;
}
#backToMap {
    margin-top: 20px;
    padding: 6px 12px;
    background-color: #e6cf7b;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
  

}
#description {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#backToMap:hover {
    background-color: #9f8568;
    transform: scale(1.05);
}
#backToMap:active {
    transform: scale(0.95); 
   
}

#lat, #lng {
    font-size: 1.1rem;
}
.navbar .dropdown-toggle,
.dropdown-menu .dropdown-item {
    font-family: 'Cinzel', serif;
}
.canvasRight p,
.canvasRight span {
    font-family: 'Cinzel', serif;
}

.dropdown-menu {
    background-color: #5b4c3b; 
    border: none; 
    border-radius: 5px;
}

.dropdown-item {
    color: white; 
    font-family: 'Cinzel', serif;
    border-bottom: 1px solid #5b4c3b; 
    padding: 10px 20px; 
}
.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #5b4c3b; 
    color: white; 
}
.btn.dropdown-toggle {
    background-color: #5b4c3b; 
    color: white; 
    border: none; 
    font-family: 'Cinzel', serif; 
    padding: 8px 15px; 
    border-radius: 5px; 
}
.btn.dropdown-toggle:hover {
    background-color: #5b4c3b; 
    color: white;
}
.dropdown-item:hover {
    background-color: #6d5c47;
    color: #ffffff;
}